.tableHeader{
	text-align: center;
	background: none repeat scroll 0 0 #a3baf1;
	border-bottom: 1px solid #8aa7db;
	padding: 16px;
	
}
.tableRow{
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFF;
	border-top: 1px solid #8aa7db;
}
.tableRowLine{
	text-align: center;
	background: none repeat scroll 0 0 #F9F9F9;
	border-top: 1px solid #8aa7db;
}
.employee-badge.estado-activo {
    background: #C8E6C9;
    color: #256029;
}
.employee-badge.estado-inactivo {
    background: #ffaeae;
    color: #ff0000;
}
.employee-badge {
    border-radius: 2px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}